/*フッター用設定*/
html,
body {
  height: 100%;
  /* html と body 要素はパディングやマージンを持てません。*/
  /*background-image: url(/menulogogr.png); */
  background-position: center center; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*フォント　*/
  font:  "Lucida Grande", "Lucida Sans Unicode", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Helvetica, Arial, Verdana, sans-serif;
  *font-family: "Lucida Grande", "ＭＳ Ｐゴシック", "Lucida Sans Unicode", sans-serif; background-color: transparent; color: #333; -webkit-font-smoothing: antialiased;
  /*フォント */
}

.container{width:95%;}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -100px;
  /* Pad bottom by footer height */
  padding: 0 0 100px;
}
.bs-footer {
  height: 100px;
  color: #777;
  background-color:#fff;
  /*text-align: center;*/
  /*margin-bottom: -30px;*/
  border-top: 1px solid #e5e5e5;
  text-align: left;
  bottom:0;
}
/*.ft_link{
  margin-bottom: -20px;
}*/
/*
  Social sharing
*/
.bs-social {
  margin-top: 6px;
  margin-bottom: 6px;
  text-align: center;
}
.bs-social-buttons {
  display: inline-block;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.bs-social-buttons li {
  display: inline-block;
  line-height: 1;
  padding: 5px 8px;
}


/*.bs-social-buttons .facebook-btn {
  width: 130px !important;
}
.bs-social-buttons .twitter-follow-button {
  width: 225px !important;
}
.bs-social-buttons .twitter-share-button {
  width: 98px !important;
}
*/
@media screen and (min-width: 768px) {
  .bs-social {
    text-align: left;
  }
  .bs-social-buttons li:first-child {
    padding-left: 0;
  }
}

/*
  Social sharing
*/
#social:hover {
-webkit-transform:scale(1.1); 
-moz-transform:scale(1.1); 
-o-transform:scale(1.1); 
}
#social {
-webkit-transform:scale(0.8);
/* Browser Variations: */
-moz-transform:scale(0.8);
-o-transform:scale(0.8); 
-webkit-transition-duration: 0.5s; 
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
}           
/*    Only Needed in Multi-Coloured Variation  */
.social-fb {
  color: #d1d4d3;
}
.social-tw {
  color: #d1d4d3;
}
.social-gp {
  color: #d1d4d3;
}

.social-tb {
  color: #d1d4d3;
}
.social-git {
  color: #d1d4d3;
}
.social-pin {
  color: #d1d4d3;
}
.social-in {
  color: #d1d4d3;
}

.social-fb:hover {
  color: #3B5998;
}
.social-tw:hover {
  color: #4099FF;
}
.social-gp:hover {
  color: #d34836;
}
.social-tb:hover {
  color: #35465c;
}
.social-git:hover {
  color: #666;
}
.social-pin:hover {
  color: #cc2127;
}
.social-in:hover {
  color: #0976b4;
}
/*ページトップ用*/
/*ページtopスクロール*/
/*#page-top{
  display: block;
  position: fixed;
  z-index: 9999;
  bottom: 15px;
  right: 20px;
  width: 100px;
  padding: 10px 5px;
  text-align: center;
  text-decoration: none;
}*/
#page-top{
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}
#page-top a{
background: rgba(0,0,0,0.5);
color: #fff;
border-radius: 100px;
padding: 10px;
display: block;
width: 30px;
height: 30px;
line-height: 30px;
font-size: 20px;
text-align: 
}

.navbar-brand {
  background: url("/menulogo.png") no-repeat left center;
  background-size: contain;
  height: 44px;
  width: 44px;
}
